@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    top: 15%;
    background: linear-gradient(to right, #FFA3FC, #B8FFD3);
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1.6rem;
    color: #333;
    font-size: 3.6rem;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.credits {
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    color: #000;
}

.credits p {
    background: linear-gradient(to right,#B8FFD3, #FFA3FC);
    border-radius: 20px;
    border: 1.8px solid whitesmoke;
    padding: 0.5em 1em;
}

.credits a {
    text-decoration: none;
    color: #000;
}

/* Media queries: Tablet or smaller */
@media only screen and (max-width:600px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 1rem;
    }

    h2 {
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    .credits {
        font-size: 0.8rem;
    }
}